<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Grid:Time | Mobile Phone Grid Computing</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
	
	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="static/css/1140.css" type="text/css" media="screen" />	
	
	<!-- Your styles -->
	<link rel="stylesheet" href="static/css/styles.css" type="text/css" media="screen" />
	
	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="static/js/css3-mediaqueries.js"></script>

	<!-- google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

</head>


<body>

		<div class="container">
			<div class="row" id="topbar">

				<div class="toplinks">
					<a href="/login">Login</a> - <a href="/about">About Us</a>
				</div>	
				<div class="social">
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="GridTime" data-hashtags="gridcomputing">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				<a href="https://twitter.com/GridTime" class="twitter-follow-button" data-show-count="false">Follow @GridTime</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		
		</div>


<div class="header">
	<div class="container">
		<div class="row">
			<h1>"Charge your phone, charge your wallet"</h1>
			<a href="/"><img src="static/img/logo.png" alt="Grid Time Alpha" id="logo"></a>
			<hr>
		</div>
	</div><!-- end container -->

</div><!-- end header -->

<div class="home">
	<div class="container">
	
		<div class="row" >		
		
			<div class="box fourcol offsetfour" >
			
				<h3 class="title">Client Login.</h3>
				<div class="login">
				<form method="post" action="/login">   
                
                <input type="text" name="username" placeholder="Username" id="username"><br>        
               	<input type="password" name="password" type="pass" placeholder="Password" id="password"><br>
               	<a href="#"><p class="forgot">Forgot your password?</p><a>
                <input class="button" name="submit" type="submit" value="Login" >            
               
            	</form>
            </div>
           </div>
			</div> 
		</div>
	</div>
</div>


<div class="footer">
	<div class="container">
		<div class="row" id="footer">
			<p class="copyright">Copyright &copy; 2012 Nick DiRienzo - Patrick Jameson - Joseph Peacock</p>
		</div>
	</div>
</div>


<!-- Javascriptssss -->
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>



</body>

</html>